@model CoffeeTime.Foot.Core.Model.Championship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Championship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinPts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinPts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefeatPts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefeatPts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiePts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiePts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays.Label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
